
.cont {
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: block;
    background-color: #0093E9;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    background-color: rgb(56, 56, 56);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1rem 1rem 5px rgba(145, 140, 140, 0.3);
    width: 38rem;
    height: auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color:white;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='number'],
  select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: rgb(29, 30, 34);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 36px;
    color: white;
    
  }
  
  
  .file-upload {
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px
  }
  

  input[type='submit']{
    margin:1rem 0;
    padding:0.7rem 2rem;
    background-color:rgb(110, 118, 204);
    border-radius:8px;
    color:white;
  }



